.jumbotron {
  padding-top: 7rem;
}

.aboutme {
  background-color: black;
  color: white;
}

.contactme {
  background-color: black;
  color: white;
  padding-bottom: 5rem;
}

section {
  padding-top: 6rem;
}
